@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300; /* más liviana */
  color: #444;      /* gris más suave que el negro */
  letter-spacing: 0.5px; /* un poco más de aire */
}

